body{
    background-color: red;
    text-align:left; 
    font-size: 20PX;
}
h1,h2,h3,h4{
    text-align: center;
    background-color: yellow;
}
footer{
    background-color: limegreen
}
h1{
    border-radius: 45%;
}
FORM{
    background-color:limegreen;
    border-radius: 1%;
}
 .thies{
    text-align: center;
}
