body{
    background-color: red;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4,h5{
    text-align: center;
    background-color:yellow;
    
    
}
footer{
    color: yellow;

}
h1{
    border-radius: 45%;
}
FORM{
    background-color:limegreen;
    border-radius: 1%;
}